<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Tableau De Bord </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user">User</a></li>
            <li><a class="dropdown-item" href="/user/new">Ajouter User</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pays
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/pays">Pays</a></li>
            <li><a class="dropdown-item" href="/pays/new">Ajouter Pays</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Voyage
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/voyage">Voyage</a></li>
            <li><a class="dropdown-item" href="/voyage/new">Ajouter Voyage</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/categorie">Categories</a></li>
            <li><a class="dropdown-item" href="/categorie/new">Ajouter Categorie</a></li>
          </ul>
        </li>
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Api
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api/voyages">Api Voyages</a></li>
            <li><a class="dropdown-item" href="/api/reservations">Api Reservations</a></li>
            <li><a class="dropdown-item" href="/api/pays">Api Pays</a></li>
              <li><a class="dropdown-item" href="/api/categories">Api Categories</a></li>
           
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" onclick="href='/logout'" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>